<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <h1>Login</h1>
    <div id="container">
      <form action="/users/login" method="post">
        <div>
          <label>Username:</label>
          <input type="text" name="username" />
        </div>
        <div>
          <label>Password:</label>
          <input type="password" name="password" />
        </div>
        <div>
          <button type="submit">Login</button>
        </div>
      </form>
      <div class="additional-links">
        <p>Don't have an account?</p>
        <button onclick="window.location.href='/register'">Register</button>
      </div>
    </div>
  </body>
</html>