#container {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form div {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 14px;
    margin-bottom: 5px;
}

form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

form button {
    background-color: #ff6347;
    border: none;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

form button:hover {
    background-color: #e5533d;
}

.additional-links {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.additional-links p {
    margin: 10px 0;
}

.additional-links button {
    background-color: #ff6347;
    border: none;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.additional-links button:hover {
    background-color: #e5533d;
}