.container {
    padding: 20px;
}

h1 {
    text-align: center;
}

.movie-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.movie-card {
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-poster img {
    width: 100%;
    height: auto;
}

.movie-info {
    padding: 20px;
}

.movie-info h2 {
    margin: 0 0 10px;
    font-size: 24px;
}

.movie-info p {
    margin: 5px 0;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    font-size: 14px;
}

form input[type="number"], form textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #ff6347;
    border: none;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #e5533d;
}

.delete-button {
    background-color: #ff6347;
    border: none;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.delete-button:hover {
    background-color: #e5533d;
}